
.nav {
    grid-area: n;
    background-color: #e0ebf2;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 18px;
    padding: 20px;
  }

  .item a {
      color: #3b5997;
      text-decoration: none;
  }

.item a.activeLink {
    color: gold;
}

  .item + .item {
      margin-top: 5px;
  }

.friends {
    padding-top: 100px;
    font-size: 32px;
}

.friendsBlock {
    display: flex;
    padding-inline-start: 0px;
}

.friendsBlock li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 20px;
    font-size: 14px;
}

.friendsBlock li+li {
    margin-left: 8px;
}
